html, body {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    font-family: "Roboto", serif;
}

.nav-left .logo {
    height: 40px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.nav-center a,
.nav-right a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
}

.nav-right a:hover {
    color: #7b0000;
}

.nav-center a:hover {
    color: #7b0000;
}
.text2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    
}

.org {
    margin-top: 70px;
    font-weight: 200;
    font-size: 15px;
}
.what{
    font-weight: 200;
    margin: 0;
    margin-bottom: 50px;
}

.descrip {
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin-bottom: 0%;
}

.rep {
    font-size: 70px;
    background-image: linear-gradient(to right, #DACE4E 10%, #BC0000 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
}
  