*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

#calendar {
    max-width: 1210px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-left: var(--side-nav-width);
    margin-top: var(--top-nav-height);
    padding: 24px;
}

@media (max-width: 768px) {
    #calendar {
        margin-left: 0;
        margin-top: 0;
        padding-top: 120px;
    }
}



